* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conteiner {
  top:0;
  left: 0;
  width : 100vw;
  height : 100vh;
  background-image: linear-gradient(to bottom, #FFFFFF, #90EE90);

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
 
.div-perguntas {
  width: 80%;
}
 
.div-torre {
  margin-left: auto;
}
 
.img-torre {
  height : 90vh;
}

.img-bruxa {
  width : 5vw;
  height : 10vh;
  position : absolute;
  z-index : 2;
  top:0;
  left: 0;
}

.div-perguntas {
  position : absolute;
  z-index : 1;
  display: flex;
  height : 100%;
  align-items: center;
  margin-left: 5%;
  left: 0;
}
 
.caminho-principe {
  width : 100vw;
  height : 20vh;
  position : absolute;
  z-index : 3;
  bottom: 0;
  left: 0;
}
 
.img-principe {
  width : 8vw;
  height : 10vh;
  position : absolute;
  z-index : 2;
 }
 